*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--color-text: #fff;
	--color-text-dark: #555353;
	--color-bg: #000;
	--color-bg-light: #d1cfcf;
	--color-strong: #ff61c0;
	--color-intense: #f4f854;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-strong);
	font-family: 'Abel', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	touch-action: none;
	cursor: none;
}

a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
}
/*
===============
GLOBAL
===============
*/
/*
===============
Cursor
===============
*/
.cursor {
	position: absolute;

	width: 10px;
	height: 10px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
		0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: scale(1);

	&.active {
		opacity: 0.5;
		transform: scale(0);
	}

	&.hovered {
		opacity: 0.08;
	}
}

.cursor-follower {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.3);
	width: 26px;
	height: 26px;
	border-radius: 100%;
	z-index: 1;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
		0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform: translate(5px, 5px);

	&.active {
		opacity: 0.7;
		transform: scale(3);
	}

	&.hovered {
		opacity: 0.08;
	}
}
/*
===============
Footer
===============
*/
footer {
	bottom: 0;
	left: 0;
}

footer p {
	font-size: 0.5em;
	font-weight: light;
}

footer i {
	margin: 0 3px;
}
/*
===============
Navbar
===============
*/
#main-nav {
	height: 1.5rem;
	position: absolute;
	z-index: 100;
	height: 50px;
	display: flex;
	width: 100vw;
	justify-content: space-between;
}

.toggle-nav {
	background-color: transparent;
	border: none;
	font-size: 2rem;
	margin: 1vh 1vw 0 0;
	cursor: pointer;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	width: 100px;
}

.logo a {
	font-family: 'League Gothic', sans-serif;
	font-size: 2rem;
	font-weight: lighter;
	padding-bottom: 4px;
}

.links-wrapper a {
	font-family: 'Abel', sans-serif;
	letter-spacing: 1px;
	border-radius: 10px;
	height: 40px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--color-intense);
	box-shadow: 2px 2px 2px var(--color-bg);
	margin: 0 10px 0 10px;
}

.links-wrapper {
	border-radius: 10px;
	width: 90vw;
	display: flex;
	justify-content: end;
	align-items: center;
}
/*
===============
Sidebar Mobile
===============
*/
.sidebar-overlay {
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	opacity: 0;
	z-index: 1;
	position: fixed;
	transition: 600ms;
	visibility: hidden;
}
.sidebar-overlay.show {
	opacity: 1;
	z-index: 100;
	visibility: visible;
}
.show .sidebar-overlay {
	transform: scale(1);
}
.sidebar-links {
	list-style-type: none;
}

.sidebar-links a {
	color: var(--color-text-dark);
	margin: 20px;
	font-size: 3.5em;
	font-family: 'League Gothic', sans-serif;
}

.sidebar-links a:active {
	color: var(--color-strong);
}

.sidebar-close {
	border: none;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	font-size: 1.3em;
	position: relative;
	background-color: var(--color-text);
	color: var(--color-bg);
	margin: 1vh 2vw 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.sidebar-close i {
	text-align: center;
}

.sidebar-close__wrapper {
	display: flex;
	justify-content: flex-end;
}

/*
===============
MEDIA QUERIES
===============
*/
@media screen and (min-width: 53em) {
	.slider-nav__item span {
		font-weight: 400;
		font-size: 3rem;
	}

	.type__item {
		font-size: 6em;
	}

	.type__item--current {
		margin-top: -3vh;
	}

	.toggle-nav {
		display: none;
	}
	footer p {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 53em) {
	.nav-hide {
		display: none;
	}

	.logo__wrapper {
		margin: 1vh 0 0 3vw;
	}
}
