body {
	overflow: hidden;
}

/* Color Version */
.sidebar-links a:active {
	color: var(--color-intense);
}

.toggle-nav__version {
	color: var(--color-strong);
}

.sidebar-overlay__version {
	background-color: var(--color-strong);
}

.cursor__version {
	background-color: var(--color-strong);
}

.footer__version {
	color: var(--color-strong);
	position: fixed;
	z-index: 1000;
	width: 100vw;
	background-color: var(--color-bg);
}

.hide {
	visibility: hidden;
}

.cursor__version-other {
	background-color: var(--color-intense);
}
/* Main */
#main-about {
	display: flex;
	min-height: 100vh;
	place-items: center;
	align-items: center;
	z-index: 1;
	background-color: var(--color-intense);
	overflow: hidden;
}

.about-text_wrapper {
	display: flex;
	color: var(--color-text-dark);
	width: auto;
	height: auto;
	justify-content: center;
	align-items: center;
}

.about-text_wrapper p {
	line-height: 1.5;
	padding: 0 2px;
	font-family: 'League Gothic', sans-serif;
	font-size: 1.4rem;
}

.about-text_wrapper mark {
	background-color: var(--color-bg-light);
}

/*
===============
MEDIA QUERIES
===============
*/
@media screen and (min-width: 53em) {
	.about-text_wrapper {
		width: 40vw;
		margin: auto;
		border: 2px solid var(--color-bg);
		border-radius: 10px;
		background-color: var(--color-bg-light);
		padding: 0 10px;
	}
}
