/* Color Version */

.logo__version a {
	color: var(--color-strong);
	border: 3px solid var(--color-strong);
	border-radius: 10px;
	width: 100px;
	text-align: center;

	&:hover {
		background-color: var(--color-strong);
		color: var(--color-intense);
		border: 3px solid var(--color-intense);
		transition: 700ms;
	}
}

.links-wrapper__version {
	border: 3px solid var(--color-strong);
}

.links-wrapper__version a {
	border: 3px solid var(--color-strong);
	color: var(--color-strong);

	&:hover {
		background-color: var(--color-strong);
		color: var(--color-intense);
		border: 3px solid var(--color-intense);
		transition: 700ms;
	}
}

.toggle-nav__version {
	color: var(--color-strong);
}

.sidebar-overlay__version {
	background-color: var(--color-strong);
}

.cursor__version {
	background-color: var(--color-strong);
}

.footer__version {
	color: var(--color-strong);
	position: fixed;
	z-index: 1000;
	width: 100vw;
	background-color: var(--color-bg);
}

.hide {
	visibility: hidden;
}

/* Main */
#main-about {
	display: grid;
	width: 100%;
	min-height: 100vh;
	place-items: center;
	align-items: center;
	z-index: 1;
	background-color: var(--color-bg);
}

.about-text_wrapper {
	display: flex;
	background-color: var(--color-bg-light);
	color: var(--color-text-dark);
	width: 95vw;
	text-align: center;
	justify-content: center;
	align-items: center;
	z-index: 1;
	position: relative;
}

.about-text_wrapper p {
	line-height: 1.5;
	padding: 0 2px;
	font-family: 'League Gothic', sans-serif;
	font-size: 1.4rem;
}

.about-text_wrapper mark {
	background-color: #fff;
}

/*
===============
MEDIA QUERIES
===============
*/
@media screen and (min-width: 53em) {
}

@media screen and (max-width: 53em) {
	.cursor__version-other {
		background-color: var(--color-intense);
	}

	.about-text_wrapper {
		margin: 60px 0 40px 0;
	}

	.hide {
		background-color: transparent;
	}
}
