body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

/* #img-1:hover {
	content: url('../images/home/2-home-small-bw.jpg');
} */
#img-1 {
	animation: backgroundImage 11s infinite linear;
}

/* Color Version */
.logo__version {
	border: 3px solid var(--color-intense);
}

.logo__version a {
	color: var(--color-intense);
}

.links-wrapper__version {
	border: 3px solid var(--color-intense);
}

.links-wrapper__version a {
	border: 3px solid var(--color-intense);
}

.toggle-nav__version {
	color: var(--color-intense);
}

.sidebar-overlay__version {
	background-color: var(--color-intense);
}

.cursor__version {
	background-color: var(--color-strong);
}
.footer__version {
	color: var(--color-intense);
	position: fixed;
	z-index: 1000;
}
/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f0f0f0;
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 20vw;
	aspect-ratio: 0.75;
	transform: translate3d(-50%, -50%, 0);
	background-color: #f0f0f0;
	animation: loaderAnim 1s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		background-color: #ccc;
	}
}

a:hover {
	color: var(--color-strong);
	outline: none;
	transition: 300ms;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

#main-home {
	display: grid;
	grid-template-areas: 'main';
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	place-items: center;
	align-items: center;
	z-index: 1;
}

.type {
	grid-area: main;
	display: grid;
	place-items: center;
	pointer-events: none;
	z-index: 100;
}

.type__item {
	font-size: 4em;
	grid-area: 1 / 1 / -1 / -1;
	opacity: 0;
	font-family: 'League Gothic', sans-serif;
	position: absolute;
}

.type__item--current {
	opacity: 1;
	text-align: center;
	padding: 0;
	align-items: center;
}

.type__item--current p {
	padding: 0;
}

.char-wrap {
	display: inline-block;
	position: relative;
	overflow: hidden;
	display: inline-flex;
}

.type__item.splitting .char {
	line-height: 1;
	padding-top: 6em;
}

.slider {
	grid-area: main;
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
	width: 100%;
	height: 100vh;
}

.slider__item {
	grid-area: 1 / 1 / -1 / -1;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: grid;
	place-items: center;
	opacity: 0;
	pointer-events: none;
}

.slider__item--current {
	opacity: 1;
	pointer-events: auto;
}

.slider__item-inner {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	grid-area: 1 / 1 / -1 / -1;
	background-size: cover;
	background-position: 50% 50%;
}

.slider--bg {
	z-index: 1;
}

.demo-2 .slider--bg {
	-webkit-filter: contrast(0.6) saturate(2);
	filter: contrast(0.6) saturate(2);
}

.slider--fg {
	position: absolute;
	width: 20vw;
	min-width: 200px;
	aspect-ratio: 0.75;
	height: auto;
	z-index: 2;
}

.content {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.content-open .content {
	overflow: auto;
}

.content__inner {
	position: relative;
	display: grid;
	gap: 4vh;
	padding: 6rem 10vw 0;
	max-width: 1200px;
}

.content__title {
	font-size: clamp(3rem, 9vw, 20rem);
	font-weight: 600;
	margin: 0;
	line-height: 1;
}

.content__subtitle {
	font-size: 1rem;
	font-weight: 600;
	margin: 0;
}

.content__text {
	margin-top: 10vh;
	max-width: 500px;
}

.slider-nav {
	position: absolute;
	width: 100%;
	line-height: 1;
	display: flex;
	flex-direction: column;
	grid-template-areas: 'prev next';
	z-index: 2;
	justify-content: center;
	align-items: center;
}

.slider-nav__right_item {
	padding-left: 6vw;
}

.slider-nav__left_item {
	padding-right: 6vw;
}

.slider-nav__item {
	line-height: 1;
	position: relative;
	display: block;
}

.slider-nav__item span {
	display: inline-block;
	pointer-events: none;
	padding: 20px 0;
	font-weight: bolder;
	font-size: 1.5rem;
}

.slider-nav__item:hover {
	color: var(--color-strong);
}

.slider-nav__item--prev {
	grid-area: prev;
}

.slider-nav__item--next {
	grid-area: next;
}

.content-open .slider-nav__item--next,
.content-open .slider-nav__item--prev,
.slider-nav__item--back {
	opacity: 0;
	pointer-events: none;
}

.slider-nav__item--back {
	grid-area: next;
}

.content-open .slider-nav__item--back {
	pointer-events: auto;
	opacity: 1;
}

/*
===============
ANIMATIONS
===============
*/
/* @keyframes backgroundImage {
	0%,
	100% {
		background-image: url('../images/home/1-home-small-bw.jpg');
	}
	20% {
		background-image: url('../images/home/7-home-small-bw.jpg');
	}
	40% {
		background-image: url('../images/home/4-home-small-bw.jpg');
	}
	60% {
		background-image: url('../images/home/5-home-small-bw.jpg');
	}
	80% {
		background-image: url('../images/home/6-home-small-bw.jpg');
	}
} */
/*
===============
MEDIA QUERIES
===============
*/
@media screen and (min-width: 53em) {
	.slider-nav__item span {
		font-weight: 400;
		font-size: 3rem;
	}

	.type__item {
		font-size: 6em;
	}

	.type__item--current {
		margin-top: -3vh;
	}

	.toggle-nav {
		display: none;
	}
}

@media screen and (max-width: 53em) {
	.nav-hide {
		display: none;
	}

	.logo__wrapper {
		margin: 1vh 0 0 3vw;
	}
}
